  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');
body{
    font-family: 'Fira Code';
}

.bar{
    background: #181B1F;
    box-shadow: 0px 0px 10px 0px rgba(92, 90, 90, 0.75);
}

.box{
    height: 90vh;
    background: #352e2a;
    font-family: 'Fira Code';
    color: #73ABAD;
}

li{
    margin-top: 5px;
    
}

.typed{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    /* /* height: 0%; */
     animation: typing 2s steps(500, end);  
    animation-fill-mode: forwards;
    
}
.close{
    cursor: pointer;
}

.underline{
    text-decoration: underline;
    /* Set underline offset */
    text-underline-offset: 0.4em;
}
/* .grid-custom{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
} */

@keyframes typing{
    from {width: 0;   height: 100%;}
    to {width: 100%;  height: 100%;}
} 

/* @media screen and (max-width: 950px) {
    .grid-custom ul{
        float: right;
        margin-right: 25%;
    }

} */