@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed; 
    background-size: cover; 
    background-color: #0D1116;
    background-blend-mode: multiply;


}
.image{
    position: relative;
}
.image::after{
    position: absolute;
    content: '';
    width:  350px;
    height: 350px;
    top:  -25px;
    left: -25px;
    border: 10px solid #7C7C7C;
    border-radius: 50%;
    animation:  animate 3s linear infinite;
}

.active{
    text-align: center;
    background: #7C7C7C;
    padding: 10px;
    border-radius: 7px;

}

.custom_btn{
    background: #F2F1D0;
    color: #111111;
}
.custom_btn1{
    background: #7AB14D;
    color: #111111;
}
.no_source{
    color: #111111;
    background: transparent;
}

.contact_btn{
    background: transparent;
    border: 1px solid;
    border-radius: 4px;
}
.contact_btn2{
    background: transparent;
    border: 1px solid;
    color: #F2F1D0;
    border-radius: 4px;
}
.contact_btn2:hover{
    transform: scale(1.01);
    background: #F2F1D0;
    color: #111111;
}
.link_hover:hover{
    transform: scale(1.25);
}
.contact_btn:hover{
    transform: scale(1.2);
}

@keyframes animate {
    0%{
        box-shadow:  0 0 0 0 #383838;
    }
    50%{
        box-shadow:  0 0 0 15px #383838;
    }
    75%{
        box-shadow:  0 0 0 20px #383838;
    }
    100%{
        box-shadow:  0 0 0 0px #383838;
    }
}
